@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: 'Bebas Neue';
    color: white;
}

.ProgressBarHealthCont {
    position: absolute;
    bottom: 3vw;
    right: 4vw;
    height: 1vw;
    border-radius: 0 1vw 0 1vw;
    width: 12vw;
    background-color: rgba(0,0,0,.3);
}

.ProgressBarHealth {
    height: 100%;
    transition: .5s;
    max-width: 12vw;
    background-color: rgb(255, 5, 5);
    border-radius: 0 1vw 0 1vw;
}

.text {
    position: absolute;
    bottom: .5vw;
    right: 5.5vw;
    font-size: 1.5vw;
}

.texto-porciento {
    position: absolute;
    bottom: 2.8vw;
    font-size: 1vw;
    right: 13vw;
}